<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relabs</title>
    <link rel='stylesheet' href='/css/common.css'>
    <script src='/js/common.js'></script>
    <%= yield_content :head %>
  </head>
  <body>
    <%= yield %>
    <div id='toast' class='toast <%= flash.dig(:notice, :type) %>'>
      <%= flash.dig(:notice, :message) %>
    </div>
    <script>
      if ('<%= flash[:notice].present? %>' === 'true') showToast()
    </script>
  </body>
</html>
